<?xml version="1.0" encoding="utf-8" ?>

<suite  name="我的接口测试套件">
    <test name="这是测试模块">
        <classes >
            <class name="TestDemo">
                <methods>
                    <include name="test1"></include>
                    <include name="test2"></include>
                    <include name="test3"></include>
                    <include name="logDemo"></include>

                </methods>
            </class>

        </classes>
    </test>
    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="ExtentTestNGIReporterListener"/>

    </listeners>
</suite>